<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<form action="../" method="POST" enctype="multipart/form-data">
		<input name="field1" type="text">
		<input name="field2" type="text">
		<input type="file">
		<input type="submit">
	</form>
</body>
</html>